* {
    box-sizing: border-box;
}

.container {
    display: flex;
    position: relative;
}

.oilimg {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.greeting {
    position: absolute;
    top: 90px;
    left: 50px;
    width: 400px;
    height: 500px;
    color: #fff;
    font-size: 36px;
}

#wire {
    text-align: center;
    white-space: nowrap;
    position: absolute;
    padding: 0;
    width: 100%;
    top: -80px;
    border-bottom: 3px solid #222;
    height: 100px;
    z-index: 1;
}

#wire li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 15px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 15px;
    top: 102px;
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: even-flash;
}

#wire li:nth-child(odd) {
    animation-name: odd-flash;
}

#wire li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 10px;
    border-radius: 4px;
    top: -5px;
    left: 0px;
    background: #444;
}

@keyframes even-flash {
    0%,
    100% {
        background: rgba(255, 230, 65, 1);
        box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 1);
    }
    50% {
        background: rgba(255, 230, 65, 0.5);
        box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 0.3);
    }
}

@keyframes odd-flash {
    50% {
        background: rgb(255, 109, 65);
        box-shadow: 0px 2px 20px 4px rgb(255, 65, 65);
    }
    0%,
    100% {
        background: rgba(255, 65, 185, 0.5);
        box-shadow: 0px 2px 20px 4px rgba(255, 65, 185, 0.3);
    }
}

@media screen and (max-width: 560px) {
    .oilimg {
        position: absolute;
        height: 100vh;
        width: 400px;
    }
    .greeting {
        position: absolute;
        top: 60px;
        left: 40px;
        width: 250px;
        height: 500px;
        color: #fff;
        font-size: 29px;
    }
    .lights {
        width: 400px;
    }
    #wire {
        text-align: center;
        white-space: nowrap;
        position: absolute;
        padding: 0;
        width: 400px;
        top: -80px;
        border-bottom: 3px solid #222;
        height: 100px;
        z-index: 1;
    }
    #wire li {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        width: 15px;
        height: 30px;
        border-radius: 50%;
        margin: 0px 15px;
        top: 102px;
        display: inline-block;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: even-flash;
    }
    #wire li:nth-child(odd) {
        animation-name: odd-flash;
    }
    #wire li:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 10px;
        border-radius: 4px;
        top: -5px;
        left: 0px;
        background: #444;
    }
    @keyframes even-flash {
        0%,
        100% {
            background: rgba(255, 230, 65, 1);
            box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 1);
        }
        50% {
            background: rgba(255, 230, 65, 0.5);
            box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 0.3);
        }
    }
    @keyframes odd-flash {
        50% {
            background: rgb(255, 109, 65);
            box-shadow: 0px 2px 20px 4px rgb(255, 65, 65);
        }
        0%,
        100% {
            background: rgba(255, 65, 185, 0.5);
            box-shadow: 0px 2px 20px 4px rgba(255, 65, 185, 0.3);
        }
    }