* {
    box-sizing: border-box;
}

.container {
    display: flex;
    position: relative;
}

.oilimg {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.greeting {
    position: absolute;
    top: 90px;
    left: 50px;
    width: 400px;
    height: 500px;
    color: #fff;
    font-size: 36px;
}

@media screen and (max-width: 560px) {
    .oilimg {
        position: absolute;
        height: 100vh;
        width: 450px;
    }
    .greeting {
        position: absolute;
        top: 60px;
        left: 40px;
        width: 400px;
        height: 500px;
        color: #fff;
        font-size: 29px;
    }
}